          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> CAFETERIA             ___cafeteria____01ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '3' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> LOS DULCES            ___cafeteria____03ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '7' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> CAFETERIA ESPECIAL    ___cafeteria____07ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '64' %>" class="btn btn-danger btn-lg btn-block">                                     
                <h2 class="text-light"> PARA DISFRUTAR        ___cafeteria____64ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '69' %>" class="btn btn-danger btn-lg btn-block">                                     
                <h2 class="text-light"> DESAYUNOS             ___cafeteria____69ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
