          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '3' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> SANDWICHES (ARABE O   ____comidas_____03co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '4' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ARABES CALIENTES      ____comidas_____04co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '5' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS A LA PIEDRA/M  ____comidas_____05co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '6' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> PIZZAS CHICAS         ____comidas_____06co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '7' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> CALZONES Y PIZZA REL  ____comidas_____07co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '8' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> EMPANADAS/PORCIONES   ____comidas_____08co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '9' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> ENTRADAS(FRIA/CALIEN  ____comidas_____09co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '10' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ENSALADAS/ENSALD.ESP  ____comidas_____10co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '11' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MINUTAS / PARRILA/GU  ____comidas_____11co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '12' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> OMELETES/ TORTILLAS   ____comidas_____12co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '13' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> POLLOS/SUPREMA ESPEC  ____comidas_____13co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '14' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PASTAS  Y SALSAS VAR  ____comidas_____14co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '19' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> MENU EJECUTIVO        ____comidas_____19co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '20' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PROMOS DE PIZZA       ____comidas_____20co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
