          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '9' %>" class="btn btn-warning btn-lg btn-block">                                     
                <h2 class="text-light"> SANDW. ESPECIAL       ____comidas_____09co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '10' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> TRAVIATA / CROISANT   ____comidas_____10co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '11' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> TOSTADO ESPECIAL      ____comidas_____11co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '12' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SANDW. MIGA           ____comidas_____12co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '13' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> TABLAS VARIADAS       ____comidas_____13co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '15' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> CARNE TERNERA         ____comidas_____15co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '17' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> AVES                  ____comidas_____17co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '19' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PESCADO               ____comidas_____19co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '21' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ENTRADAS              ____comidas_____21co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '23' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> ENSALADAS ESPECIALES  ____comidas_____23co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '25' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PARA ACOMPANAR        ____comidas_____25co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '41' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> LO DE SIEMPRE         ____comidas_____41co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '43' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> OMELETTE / TORTILLA   ____comidas_____43co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '45' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> SANDWICHES            ____comidas_____45co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '47' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PASTAS                ____comidas_____47co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '49' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PARA SABORIZAR        ____comidas_____49co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '53' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> NOVEDADES DEL CHEFF   ____comidas_____53co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '55' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> LIGHT                 ____comidas_____55co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '59' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> NOVEDADES EN PROMO    ____comidas_____59co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '62' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> EMPANADAS             ____comidas_____62co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '63' %>" class="btn btn-warning btn-lg btn-block">                                    
                <h2 class="text-light"> PIZZAS                ____comidas_____63co </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
